<div class="dashboard-cards">
    <div class="card card-total">
      <h3>Total Employees</h3>
      <h2>{{ totalEmployees }}</h2>
    </div>
    <div class="card card-active">
      <h3>Active</h3>
      <h2>{{ activeEmployees }}</h2>
    </div>
    <div class="card card-inactive">
      <h3>Inactive</h3>
      <h2>{{ inactiveEmployees }}</h2>
    </div>
  </div>

<div class="container">
  <h2>Employee Directory</h2>

  @if (successMessage) {
    <div class="alert alert-success">{{ successMessage }}</div>
  }
  
  <table class="employee-table">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Full Name</th> <th>Department</th> <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (emp of employees; track emp.id) {
        <tr>
          <td>{{ emp.id }}</td>
          <td>{{ emp.fullName }}</td> <td>{{ emp.department }}</td> <td>{{ emp.email }}</td>>
          <td>{{ emp.phone }}</td>
          <td>
            <button [routerLink]="['/employee', emp.id]" class="btn-view">View</button>
            <button [routerLink]="['/edit-employee', emp.id]" class="btn-edit" style="margin-left: 5px;">Edit</button>
            
            <button (click)="onDelete(emp.id, emp.firstName)" class="btn-delete" style="margin-left: 5px;">Delete</button>
          </td>
        </tr>
      } @empty {
        }
    </tbody>
  </table>
  @if (errorMessage) {
    <div class="alert alert-danger" style="text-align: center; font-weight: bold;">
      ⚠️ {{ errorMessage }}
    </div>
  }
</div>